:root {
  --mainColour: #030201;
  --textColour: #F3F6FB;
  --secColour: #8b0000;
}

html {
  font-family: 'Bai Jamjuree',
    sans-serif;
  font-family: 'Comfortaa',
    cursive;
  font-family: 'Kumbh Sans',
    sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  cursor: pointer;
}

p {
  font-size: 11px;
}

body {
  background-color: var(--mainColour);
  color: var(--textColour);
}

/* Header  */
.header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/header_img.jpeg);
  background-size: cover;
  max-width: 100%;
  height: 100vh;
  margin-bottom: 185px;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 70px;
}

.title:hover {
  color: var(--secColour);
}

.h-text {
  font-size: 20px;
  font-weight: bold;
}

.h-text:hover {
  color: var(--secColour);
}

.bi {
  font-size: 30px;
  color: var(--textColour);
}

.bi:hover {
  color: var(--secColour);
}

/* Header Media Queries  */
@media screen and (max-width:640px) {}

/* tribute info */
.image {
  width: 600px;
  height: auto;
}

.tribute-flex {
  display: flex;
  justify-content: space-evenly;
  column-gap: 50px;
  margin-top: 185px;
  margin-bottom: 80px;
}

.tribute-text {
  font-size: 20px;
}

.btn {
  border-radius: 10px;
  border: solid var(--textColour) 1px;
}

.btn:hover {
  background-color: var(--secColour);
  border: solid 1px var(--secColour);
}

.tribute-link {
  color: var(--textColour);
  text-decoration: none;
}

.tribute-link:hover {
  color: var(--textColour);
}

figcaption {
  font-size: 12px;
}

/* Tribute info media queries  */
@media screen and (max-width:640px) {
  .image {
    width: 300px;
    height: auto;
  }

  .tribute-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-div {
    margin-bottom: 50px;
  }
}

/* Footer  */
.links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}